nav {
    background-color: var(--c-nav);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 3);
}

.nav-link {
    color: white;
    font-weight: bold;
    transition: var(--transition);
    display: inline-block;
    position: relative;
    transition: color 0.25s ease-out;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link:hover {
    color: turquoise;
    text-decoration: none;
}

.btn-subtle {
    background-color: white;
    border-radius: 100%;
    transition: var(--transition);
}

.btn-subtle:hover {
    background-color: turquoise;
}

.navbar-toggler {
    outline: none;
    background-color: transparent;
}

@media (max-width: 991px) {
    .btn-subtle {
        display: none;
    }

    .nav-link {
        padding-top: 1rem;
    }
}